// Map-get
#contact__contact{
    background-color: map-get($map, color2);
    display: flex;
    justify-content: center;
}

// Extend
.main__contact{
    @extend #contact__contact;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contact__contact{
        list-style: none;
        // Mixins
        #maps {
            @include tamaño();
        }
    }
    .inputs__inputs{
        list-style: none;
        margin-right: 200px;
    }
}